replicaCount: 5

service:
  type: ClusterIP
  port: 8443

tls:
  enabled: true

persistentLog:
  size: 10Gi

resources:
  limits:
    cpu: 2
    memory: 4Gi
  requests:
    cpu: 1250m
    memory: 4Gi

patroni:
  replicaCount: 3

  persistentVolume:
    size: 10Gi

  podDisruptionBudget:
    enabled: true

  transportServerClaim:
    enabled: true
