image:
  repository: ghcr.io/bcgov/sso
  tag: 7.6.39-build.1
  pullPolicy: IfNotPresent

replicaCount: 0

service:
  type: ClusterIP
  port: 8443

tls:
  enabled: false

resources:
  limits:
    cpu: 1
    memory: 2Gi
  requests:
    cpu: 0.8
    memory: 1Gi

maintenancePage:
  enabled: false
  active: false

patroni:
  replicaCount: 3

  persistentVolume:
    size: 1Gi

  podDisruptionBudget:
    enabled: false

  transportServerClaim:
    enabled: true

rollingUpdate:
  maxSurge: 2

readinessProbe:
  enabled: true
  verification: script
  initialDelaySeconds: 30
  periodSeconds: 10
  timeoutSeconds: 5
  successThreshold: 1
  failureThreshold: 12
