image:
  repository: ghcr.io/bcgov/sso
  tag: 7.6.39-build.1
  pullPolicy: IfNotPresent

replicaCount: 5

service:
  type: ClusterIP
  port: 8443

tls:
  enabled: true

persistentLog:
  size: 15Gi

podDisruptionBudget:
  enabled: true
  minAvailable: 4
  maxUnavailable:

patroni:
  replicaCount: 3

  persistentVolume:
    size: 19Gi

  podDisruptionBudget:
    enabled: true

  transportServerClaim:
    enabled: false

rollingUpdate:
  maxSurge: 3
