replicaCount: 0

service:
  type: ClusterIP
  port: 8443

tls:
  enabled: true

persistentLog:
  size: 15Gi

patroni:
  replicaCount: 2

  persistentVolume:
    size: 30Gi

  podDisruptionBudget:
    enabled: false

  transportServerClaim:
    enabled: true
