replicaCount: 2

maintenancePage:
  enabled: false
  active: false

persistentLog:
  size: 2Gi

patroni:
  replicaCount: 2

  persistentVolume:
    size: 0.5Gi

  podDisruptionBudget:
    enabled: false

  transportServerClaim:
    enabled: true
