replicaCount: 0

service:
  type: ClusterIP
  port: 8443

tls:
  enabled: false

persistentLog:
  size: 10Gi

patroni:
  replicaCount: 2

  persistentVolume:
    size: 10Gi

  podDisruptionBudget:
    enabled: false

  transportServerClaim:
    enabled: true
