image:
  repository: ghcr.io/bcgov/sso
  tag: 7.6.25-build.1
  pullPolicy: IfNotPresent

replicaCount: 0

service:
  type: ClusterIP
  port: 8443

tls:
  enabled: false

persistentLog:
  size: 10Gi

patroni:
  replicaCount: 3

  persistentVolume:
    size: 10Gi

  podDisruptionBudget:
    enabled: false

  transportServerClaim:
    enabled: true
