replicaCount: 0

service:
  type: ClusterIP
  port: 8443

tls:
  enabled: true

persistentLog:
  size: 15Gi

patroni:
  replicaCount: 3

  persistentVolume:
    size: 30Gi

  podDisruptionBudget:
    enabled: false

  transportServerClaim:
    enabled: true

  # transportServerClaimConfig:
  #   enabled: true
  #   interval: 10
  #   timeout: 10
