replicaCount: 5

service:
  type: ClusterIP
  port: 8443

tls:
  enabled: true

persistentLog:
  size: 15Gi

annotations:
  timeout: 90s

patroni:
  replicaCount: 3

  persistentVolume:
    size: 30Gi

  podDisruptionBudget:
    enabled: true

  transportServerClaim:
    enabled: false
