replicaCount: 0

service:
  type: ClusterIP
  port: 8443

tls:
  enabled: false

persistentLog:
  size: 10Gi

patroni:
  replicaCount: 3

  persistentVolume:
    size: 10Gi

  podDisruptionBudget:
    enabled: false

  transportServerClaim:
    enabled: true

  transportServerClaimConfig:
    enabled: true
    interval: 10
    timeout: 10
