replicaCount: 0

service:
  type: ClusterIP
  port: 8443

tls:
  enabled: false

persistentLog:
  size: 15Gi

patroni:
  replicaCount: 3

  persistentVolume:
    size: 30Gi

  podDisruptionBudget:
    enabled: false

  transportServerClaim:
    enabled: false
