image:
  repository: ghcr.io/bcgov/sso
  tag: 7.6.5-build.30
  pullPolicy: IfNotPresent

additionalServerOptions: "-Dkeycloak.profile.feature.impersonation=disabled -Djboss.persistent.log.dir=/var/log/eap"

resources:
  limits:
    cpu: 2
    memory: 4Gi
  requests:
    cpu: 100m
    memory: 1Gi

# https://kubernetes.io/docs/concepts/configuration/assign-pod-node/#affinity-and-anti-affinity
affinityTemplate: |
  podAntiAffinity:
    preferredDuringSchedulingIgnoredDuringExecution:
    - weight: 100
      podAffinityTerm:
        topologyKey: "topology.kubernetes.io/zone"
        labelSelector:
          matchLabels: {{ include "sso-keycloak.selectorLabels" . | nindent 10 }}

configuration:
  enabled: true
  version: "7.6"

annotations:
  timeout: 90s

livenessProbe:
  enabled: true
  verification: script
  initialDelaySeconds: 240
  periodSeconds: 20
  timeoutSeconds: 5
  successThreshold: 1
  failureThreshold: 6

readinessProbe:
  enabled: true
  verification: script
  initialDelaySeconds: 180
  periodSeconds: 20
  timeoutSeconds: 5
  successThreshold: 1
  failureThreshold: 6

rollingUpdate:
  maxSurge: "100%"
  maxUnavailable: 0

patroni:
  resources:
    limits:
      cpu: 500m
      memory: 1.5Gi
    requests:
      cpu: 50m
      memory: 300Mi

  podDisruptionBudget:
    enabled: true
    minAvailable: 2

  affinityTemplate: |
    podAntiAffinity:
      preferredDuringSchedulingIgnoredDuringExecution:
      - weight: 100
        podAffinityTerm:
          topologyKey: "topology.kubernetes.io/zone"
          labelSelector:
            matchLabels:
              sts:  {{ template "patroni.name" . }}
              release: {{ .Release.Name | quote }}
