replicaCount: 5

service:
  type: ClusterIP
  port: 8443

tls:
  enabled: true

maintenancePage:
  enabled: false
  active: false

patroni:
  replicaCount: 2

  persistentVolume:
    size: 1Gi

  podDisruptionBudget:
    enabled: true

  transportServerClaim:
    enabled: true
