replicaCount: 0

image:
  pullPolicy: Always

additionalServerOptions: >-
  -Djgroups.dns.query=sso-keycloak-ping.e4ca1d-dev.svc.cluster.local

extraEnvs:
  - name: KC_HOSTNAME
    value: https://dev.sandbox.loginproxy.gov.bc.ca/auth/
  - name: KC_HOSTNAME_ADMIN
    value: https://dev.sandbox.loginproxy.gov.bc.ca/auth/
  - name: QUARKUS_LOG_FILE_ROTATION_MAX_BACKUP_INDEX
    value: "42"
  - name: QUARKUS_LOG_FILE_ROTATION_MAX_FILE_SIZE
    value: 1M
  - name: QUARKUS_LOG_FILE_ROTATION_FILE_SUFFIX
    value: .zip
  - name: KC_SPI_CONNECTIONS_HTTP_CLIENT_DEFAULT_CONNECTION_TTL_MILLIS
    value: "900000"
  ## If debugging needs to be done without the use of the vanity urls, use the following KC_HOSTNAMES
  # - name: KC_HOSTNAME
  #   value: https://sso-keycloak-e4ca1d-dev.apps.gold.devops.gov.bc.ca/auth/
  # - name: KC_HOSTNAME_ADMIN
  #   value: https://sso-keycloak-e4ca1d-dev.apps.gold.devops.gov.bc.ca/auth/

resources:
  limits:
    cpu: 1
    memory: 2Gi

patroni:
  replicaCount: 3

  persistentVolume:
    size: 1Gi

  podDisruptionBudget:
    enabled: false

  transportServerClaim:
    enabled: true
