image:
  pullPolicy: Always

additionalServerOptions: >-
  -Djgroups.dns.query=sso-keycloak-ping.e4ca1d-prod.svc.cluster.local

extraEnvs:
  - name: KC_HOSTNAME
    value: https://sandbox.loginproxy.gov.bc.ca/auth/
  - name: KC_HOSTNAME_ADMIN
    value: https://sandbox.loginproxy.gov.bc.ca/auth/
  - name: QUARKUS_LOG_FILE_ROTATION_MAX_BACKUP_INDEX
    value: "42"
  - name: QUARKUS_LOG_FILE_ROTATION_MAX_FILE_SIZE
    value: 1M
  - name: QUARKUS_LOG_FILE_ROTATION_FILE_SUFFIX
    value: .zip

replicaCount: 0

service:
  type: ClusterIP
  port: 8443

tls:
  enabled: false

resources:
  limits:
    cpu: 1
    memory: 2Gi

maintenancePage:
  enabled: true
  active: true

patroni:
  replicaCount: 3

  persistentVolume:
    size: 1Gi

  podDisruptionBudget:
    enabled: false

  transportServerClaim:
    enabled: false
