replicaCount: 1

image:
  repository: ghcr.io/bcgov/sso-uptime-monitor
  tag: dev
  pullPolicy: Always

nameOverride: sso-uptime-monitor
fullnameOverride: sso-uptime-monitor

service:
  type: ClusterIP
  port: 8080

route:
  host:


resources:
  limits:
    cpu: 50m
    memory: 128Mi
  requests:
    cpu: 10m
    memory: 64Mi
