name: Deploy Keycloak resources in Gold & Golddr

on:
  workflow_dispatch:
    inputs:
      project:
        description: "The target project"
        type: choice
        required: true
        options: ["SANDBOX", "PRODUCTION", "OLD-SANDBOX"]
        default: "SANDBOX"
      environment:
        description: "env to deploy"
        type: choice
        options: ["dev","test","prod"]
        default: "dev"

jobs:
  transition-scripts:
    runs-on: ubuntu-22.04
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@v4
      - name: Set the deployment namespace
        run: |
          chmod +x ./namespace-setter.sh
          ./namespace-setter.sh ${{ github.event.inputs.project }} ${{ github.event.inputs.environment }}
        working-directory: .github/helpers
      - name: Login Openshift Gold & Golddr
        uses: ./.github/actions/oc-login
        with:
          namespace: $NAMESPACE
          oc-server-gold: ${{ secrets.OPENSHIFT_SERVER_GOLD }}
          oc-token-gold: ${{ secrets[format('OPENSHIFT_TOKEN_GOLD_{0}', github.event.inputs.project)] }}
          oc-server-golddr: ${{ secrets.OPENSHIFT_SERVER_GOLDDR }}
          oc-token-golddr: ${{ secrets[format('OPENSHIFT_TOKEN_GOLDDR_{0}', github.event.inputs.project)] }}

      - name: Run transition script
        run: |
          echo "Running on the $NAMESPACE namespace"
          chmod +x ./deploy.sh
          ./deploy.sh $NAMESPACE
        working-directory: transition-scripts
