name: Check code/commit conventions

on: push

jobs:
  pre-commit:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
      - name: Install asdf
        uses: asdf-vm/actions/setup@v1
      - name: Cache tools
        uses: actions/cache@v3
        with:
          path: /home/runner/.asdf
          key: ${{ runner.os }}-${{ hashFiles('**/.tool-versions') }}
      - name: Install required tools
        run: |
          cat .tool-versions | cut -f 1 -d ' ' | xargs -n 1 asdf plugin-add || true
          asdf plugin-update --all
          asdf install
          asdf reshim
      - name: Rerun Pre-Commit Hooks on CI
        run: |
          pip install -r requirements.txt
          asdf reshim
          pre-commit run --color=always --show-diff-on-failure --all-files

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Cache Docker layers
        uses: actions/cache@v2
        with:
          path: /tmp/.buildx-test-cache
          key: ${{ runner.os }}-buildx-test-${{ github.sha }}
          restore-keys: ${{ runner.os }}-buildx-test-
      - name: Build Test Docker image
        uses: docker/build-push-action@v3
        with:
          context: .
          push: false
          tags: switchover-test
          file: Dockerfile-test
          cache-from: type=local,src=/tmp/.buildx-test-cache
          cache-to: type=local,dest=/tmp/.buildx-test-cache-new
      - name: Move cache
        run: |
          rm -rf /tmp/.buildx-test-cache
          mv /tmp/.buildx-test-cache-new /tmp/.buildx-test-cache
      - name: Run tests
        run: docker run switchover-test

  commitlint:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: wagoid/commitlint-github-action@v2
