name: Set the dr deployment to active

on:
  workflow_dispatch:
    inputs:
      namespace:
        description: "The target namespace"
        required: true
        options: ["c6af30-dev", "eb75ad-dev", "eb75ad-test", "eb75ad-prod"]

jobs:
  transition-scripts:
    runs-on: ubuntu-22.04
    timeout-minutes: 60
    steps:
      - name: Rocket.Chat Notification
        uses: RocketChat/Rocket.Chat.GitHub.Action.Notification@master
        with:
          type: ${{ job.status }}
          job_name: 'The switch to Gold DR action was triggered for ${{ github.event.inputs.namespace }}, confirm if'
          mention: 'jsharman'
          channel: '#jsharman-alert-test'
          url: ${{ secrets.JON_SSO_ALERTS }}
          token: ${{ secrets.JON_ROCKETCHAT_TOKEN }}
      - uses: actions/checkout@v3
      - name: Login Openshift Gold & Golddr
        uses: ./.github/actions/oc-login
        with:
          namespace: ${{ github.event.inputs.namespace }}
          oc-server-gold: ${{ secrets.OPENSHIFT_SERVER_GOLD }}
          oc-token-gold: ${{ secrets.OPENSHIFT_TOKEN_GOLD }}
          oc-server-golddr: ${{ secrets.OPENSHIFT_SERVER_GOLDDR }}
          oc-token-golddr: ${{ secrets.OPENSHIFT_TOKEN_GOLDDR }}

      - name: Run transition script
        run: |
          chmod +x ./switch-to-golddr.sh
          ./switch-to-golddr.sh ${{ github.event.inputs.namespace }}
        working-directory: transition-scripts
