name: 'Disable/Enable Gold Route'

on:
  workflow_dispatch:
    inputs:
      project:
        description: "The target project"
        type: choice
        required: true
        options: ["SANDBOX", "PRODUCTION", "OLD-SANDBOX"]
        default: "SANDBOX"
      environment:
        description: "env to enable or disable"
        type: choice
        options: ["dev","test","prod"]
        default: "dev"
      action:
        description: "Disable or enable gold route"
        type: choice
        required: true
        options:
        - enable
        - disable

jobs:
  enable-disable:
    runs-on: ubuntu-22.04
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@v3
      - name: Set the deployment namespace
        run: |
          chmod +x ./namespace-setter.sh
          ./namespace-setter.sh ${{ github.event.inputs.project }} ${{ github.event.inputs.environment }}
        working-directory: .github/helpers
      - name: Set the deployment namespace
        run: |
          chmod +x ./namespace-setter.sh
          ./namespace-setter.sh ${{ github.event.inputs.project }} ${{ github.event.inputs.namespace }}
        working-directory: .github/helpers
      - name: Login Openshift Gold & Golddr
        uses: ./.github/actions/oc-login
        with:
          namespace: $NAMESPACE
          oc-server-gold: ${{ secrets.OPENSHIFT_SERVER_GOLD }}
          oc-token-gold: ${{ secrets.OPENSHIFT_TOKEN_GOLD }}
          oc-server-golddr: ${{ secrets.OPENSHIFT_SERVER_GOLDDR }}
          oc-token-golddr: ${{ secrets.OPENSHIFT_TOKEN_GOLDDR }}
      - name: Enable or Disable Gold Route
        run: |
          echo "Running on the $NAMESPACE namespace"
          chmod +x ./enable-disable-gold-route.sh
          ./enable-disable-gold-route.sh $NAMESPACE ${{ github.event.inputs.action }}
        working-directory: transition-scripts
