name: "Transaction Log Comparison"

on:
  workflow_dispatch:
  schedule:
    - cron: "0 * * * *"

jobs:
  xlog-cron:
    runs-on: ubuntu-22.04
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@v4
      - name: Login Openshift Gold & Golddr
        uses: ./.github/actions/oc-login
        with:
          namespace: ${{ github.event.inputs.namespace }}
          oc-server-gold: ${{ secrets.OPENSHIFT_SERVER_GOLD }}
          oc-token-gold: ${{ secrets.OPENSHIFT_TOKEN_GOLD }}
          oc-server-golddr: ${{ secrets.OPENSHIFT_SERVER_GOLDDR }}
          oc-token-golddr: ${{ secrets.OPENSHIFT_TOKEN_GOLDDR }}

      - name: Run xlog comparison
        run: |
          chmod +x ./xlog-comparison.sh
          ./xlog-comparison.sh
        working-directory: transition-scripts

      - name: Rocket.Chat Notification
        if: failure()
        uses: fjogeleit/http-request-action@v1
        with:
          url: ${{ secrets.SSO_ALERTS }}
          method: "POST"
          customHeaders: '{"Content-Type": "application/json"}'
          data: '{"text": "@jsharman @nithinshekar.kuruba @jlanglois @Marco *One of the production xlogs failed to synch*", "attachments": [{"color": "#F5455C","title": "Details", "title_link": "${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}", "text": "${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}", "fields": [{"title": "Ref", "value": "${{ github.ref }}", "short": false}, {"title": "Workflow", "value": "${{ github.workflow }}", "short": false}]}]}'
  keepalive:
    name: Keepalive Workflow
    runs-on: ubuntu-latest
    permissions:
      actions: write
    steps:
      - uses: actions/checkout@v4
      - uses: gautamkrishnar/keepalive-workflow@v2
